.todoCont{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap:20px;
    color: black;
    background-color:aliceblue;
    border-radius:10px;
    min-height:10vh;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    align-self: stretch;
    width:50vw;
    padding: 20px;
}

.todoCont__title{
    font-weight: 300;

}

.checkBox{
    width:10px;
}

.options{

    display:flex;
    gap:20px;
    justify-content: center;
}

.input-ele{
    padding:10px;
    outline: none;
    border:0px solid;
    border-radius:10px;
  }

.hide{
    display: none;
}